* {
	text-align: center;
}

code {
	color: black;
	background-color: white;
	border-color: lightblue;
	border-style: double;
	display: inline-block;
	padding: 5px 5px;
}

footer {
	text-align: center;
}

iframe {
	border:0;
	width:100%;
	height:100vh;
}

td {
	text-align:left;
}


#wxlogo {
	border:1px;
	border-style: solid;
	border-color: black;
	text-align: left;
}

#menu-links {
	text-align: left;
}

#page-content {
	text-align: center;	
	color: black;
	background-color: lightgrey;
}

#page-div {
	background-color: white;
	border: 1px solid;
	margin: 10px 10px;
	padding: 50px 10px;
	
}

#page-title {
	text-align: center;	
	color: black;
	border-style: solid;
	background-color: white;
}

.dlink {
	background-color: lightblue;
	color: white;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}
