* {
	text-align: left;
}

.page-iframe {
	width = 200;
	height = 200;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: black;
}

code {
	color: grey;
	display: inline-block;
}

footer {
	text-align: center;
}

#menu-links {
	text-align: left;
}

#page-content {
	text-align: left;	
	background-color: lightgrey;
}

#page-title {
	text-align: left;	
}

